.login-container {
    background-image: url(/assets/images/login.jpg);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: 95% 35%;
}
.login {
    margin-top: 10%;
    margin-left: 10%;
    height: 560px;
    width: 600px;
    border: 2px solid var(--color9);
}