
/* Top Nav */
.top_nav {
    position: fixed;
    width: 100%;
    height: 15%;
    background-color: #101935;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    place-content: center;
    place-items: center;
    text-align: center;
    align-items: center;
    color: #fff;
    z-index: 200;
}

.Category {
    position: absolute;
    top: 15%;
    left: 15%;
    font-size: 20px;
}

.cats {
    position: absolute;
    left: 60%;
    cursor: pointer;
}
#list {
    position: absolute;
    background-color: #101935;
    height: auto;
    width: auto;
    text-align: left;
    justify-content: left;
    color: #fff;
    padding: 40px 60px;
    left: 55%;
    top: 53%;
    display: none;
    border-radius: 5px;
}
.cats:hover + #list, #list:hover, li:hover{
    display: block;
    cursor: pointer;
}
#list li:hover {
    background-color: #fff;
    color: #101935;
    text-decoration: underline;
}
li {
    padding: 10px 20px;
    border-radius: 4px;
}
.site_name {
    position: absolute;
    left: 13%;
    font-size: 19px;
    cursor: pointer;
}
#search {
    position: absolute;
    left: 30%;
    padding: 10px 15px;
    border: 1.3px solid #fff;
    border-radius: 2px;
    outline: none;
    color: #fff;
    background: none;
}
::placeholder {
    color: #fff;
}
.login {
    position: absolute;
    right: 5%;
    border: 1px solid #fff;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    background: none;
    border-radius: 2px;
}
.login:hover {
    cursor: pointer;
    color: #101935;
    background-color: #fff;
}
a {
    text-decoration: none;
    display: flex;
    place-content: center;
    place-items: center;
    align-items: center;
    color: #fff;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}